html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Trebuchet MS", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder; }

nav {
  background-color: #fff; }

a {
  color: #B90415; }

.nav-link:hover {
  background-color: #FCE205;
  color: #B90415; }

.img-fluid {
  height: 100vh;
  width: 100%;
  overflow: hidden; }

.jumbotron {
  background-image: linear-gradient(to right, #B90415, #FCE205);
  position: relative;
  display: block;
  color: #fff;
  text-align: left;
  margin: auto;
  padding: 6rem 3rem 0 4rem;
  font-weight: 900; }

.col-lg-6 {
  padding-top: 2rem;
  margin: auto; }

.leftSection {
  padding: 6rem;
  margin: auto; }
  .leftSection h1 {
    font-size: 64px; }

.jumbotronH3 {
  padding: 0.5rem 4rem 2rem 2;
  opacity: 70%; }

.jumbotronBtn img {
  width: 50%;
  height: auto;
  border-radius: 10%; }

.jumbotronMobileImg img {
  width: 50%;
  height: auto;
  border-radius: 2.5rem; }

.iconRows {
  color: #B90415;
  padding: 4rem; }

.mainBody {
  background-color: #ECECEC; }

.learningSection {
  padding: 35px 25px 0 25px;
  margin: auto;
  text-align: center;
  background-color: #ECECEC;
  color: #B90415; }

.carousel-inner {
  margin: auto;
  padding: 0 15rem 2rem 15rem;
  background-color: #ECECEC; }

.w-50 {
  margin: auto;
  padding: 2rem;
  display: flex !important; }

.dictionary, .location {
  display: flex;
  margin: auto;
  padding: 2rem 20% 4rem 25%;
  color: #B90415;
  text-align: center; }
  .dictionary .dictionaryHead, .dictionary .locationHead, .location .dictionaryHead, .location .locationHead {
    margin: auto;
    padding: 1rem 2rem 1rem 2rem; }
  .dictionary .dictionaryImg, .dictionary .locationImg, .location .dictionaryImg, .location .locationImg {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75); }

.footer {
  background-image: linear-gradient(to left, #B90415, #FCE205);
  color: #fff;
  margin: auto;
  padding: 3rem;
  text-align: center; }
  .footer .container {
    padding: 1rem; }
    .footer .container .footerHeading1 {
      padding-bottom: 2rem; }
    .footer .container .footerHeading2 {
      padding-top: 2rem; }
    .footer .container .footerGoogleImg img {
      border-radius: 17px; }

footer p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: #B90415; }

@media screen and (max-width: 580px) {
  html {
    display: flex;
    overflow-x: hidden; }

  .fa-navicon {
    color: #FCE205; }

  .navbar {
    width: 100%; }

  .jumbotron {
    display: flex; }
    .jumbotron strong {
      margin: 0;
      padding: 1rem;
      display: block;
      font-size: 90px; }

  .jumbotron-fluid {
    padding: 2rem; }

  .jumbotronH2 {
    padding: 1rem; }

  .learningSection h1, .dictionaryHead h1, .locationHead h1 {
    font-size: 48px; }

  .dictionary {
    padding: 2rem 2rem 0 2rem;
    display: block; }

  .location {
    padding: 0 2rem 2rem 2rem;
    display: block; }

  .learningSection h3, .dictionaryHead h3, .locationHead h3 {
    font-size: 28px; }

  .learningSection p, .dictionaryHead p, .locationHead p {
    font-size: 20px; }

  #carouselExampleSlidesOnly {
    display: none; }

  .footerHeading1, .footerHeading2 {
    font-size: 32px; }

  .mainBody {
    display: block; }

  .dictionaryImg img {
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=index.css.map */
