$primary-color: #B90415
$secondary-color: #FCE205

body
    height: 50%
    margin: 0
    
nav
    background-color: $primary-color
    
a
        color: $secondary-color

.nav-link:hover
    background-color: $secondary-color
    color: $primary-color

.img-fluid
    height: 75vh
    width: 100%